@model IEnumerable<ClinicSystemTest.Entities.Department>

@{
    ViewData["Title"] = "ListDepartments";
}

<h1>List Departments</h1>

&nbsp;
<table class="table">
    <thead>
        <tr class="table-dark table-active">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
&nbsp;
<p>
    <a class="btn btn-info" asp-action="CreateDepartment">Add Department</a>&nbsp;
    <a class="btn btn-dark" asp-action="Index">Back to list</a>&nbsp;
</p>